main > .container {
    padding: 60px 15px 0;
    margin-bottom: 10px;
  }

.navbar-brand {
  margin-right: 100px;
}

.question {
    display: flex;
    border: 1px gray solid;
    margin-top: 10px; /*возможно лишний*/
    border-radius: 10px;
    padding: 10px;
    min-height: fit-content;
}

.question-bottom {
    bottom: 5px;
}

.question img {
    width: 180px;
}

.main-question img {
  width: 200px;
}

.main-question {
  font-size: 20px;
}

.main-question-tags {
  margin: 10px;
}

body > main > div > div > div.col-8 > div.row.main-question > div.question-first-col.col-3 > class.main-question-vote > div {
  margin-left: 50px;
  margin-top: 5px;
}

.account-settings {
  max-width: 60%;
}

.avatar-preview img {
  width: 120px;
  margin-bottom: 10px;
}

.repeat-password {
  margin-top: 11px;
}

.question-first-col {
  min-width: 180px;
  align-items: center !important;
}

.question-second-col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.question-text {
  font-size: 16px;
}

.question-vote > .btn-group{
  margin-top: 2px;
  margin-left: 40px;
}

.question-tags {
  margin-top: 6px;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  max-width: fit-content;
}

.count-btn {
  pointer-events: none;
}

.bmembers {
    margin-top: 20px;
}

.pagination {
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.avatar-img {
  width: 40px;
}

.profile-name {
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}